* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

/* Hide scrollbar but still scrollable */
.scrollable {
  overflow: auto; /* or scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollable::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
